:root{
    --color-primary-1: #63657b;
    --color-primary-2: #63657b;

    --color-neutral-1: #201b2c;
    --color-neutral-2: #514869;
    --color-neutral-3: #f0ffffde;
    --color-neutral-4: #f0ffff94;
    --color-neutral-5: #400988;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

.conteiner{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0,0.1);

}
.conteiner .left_Side{
    position: relative;
    background-color: #050506;
    padding: 40px;
}
.conteiner .right_Side{
    position: relative;
    background-color: #ffffff;
    padding: 40px;
}
.conteiner .left_Side img{
    width: 100%;
    text-align: center;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

